body {
    font: Arial, Helvetica, sans-serif;
    background-color: #ffffe0;
    color: #001933; 
    font-size: 20px; 
    width: 1024px;
    padding: 50px;
    margin: auto;    
   }

.enum {    
    text-align: left;
    width: 1024px;
    margin: auto;  
    font-weight: bold;      
 }   

 img {
    
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    display: block;
 }

 h1, h2 {
    color: #0c4581f5;     
 }